<h1><%= @issuedbook.user.name %>, Your Book Issue Request is Successfull!</h1>
<p>
Given below is your issued book details.
</p>
<p>
<h3>Issue Details</h3>
id: <%= @issuedbook.id %><br>
issued_to_user_id: <%= @issuedbook.user.id %><br>
issued_to_user_name: <%= @issuedbook.user.name %><br>
issued_to_user_address: <%= @issuedbook.user.address %><br>
is_returned: <%= @issuedbook.is_returned %><br>
returned_on: <%= @issuedbook.return_dt %><br>
issue_created_on: <%= @issuedbook.created_at %><br>
issued_on: <%= @issuedbook.issued_on %><br>
fine_per_day: <%= @issuedbook.fine %><br>
submission_by: <%= @issuedbook.submittion %><br>
<br><br>
<h3>Book Details</h3>
book_name: <%= @issuedbook.book.name %><br>
book_author: <%= @issuedbook.book.author %><br>
book_description: <%= @issuedbook.book.description %><br>
book_edition: <%= @issuedbook.book.edition %><br>
book_created_by: <%= @issuedbook.book.user.name %><br>
book_library_name: <%= @issuedbook.book.user.library_name %><br>
</p>
<p>Submit your book before the submission date or you will get fined per day</p>
<br><br>
<p>Library Management API</p>
